
	.Rowling {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 300%;
		color: #D7D9D7;
		background-color: #263645;
		border: 6px solid black;
		padding: 5px;
		margin: 12px;
	}
	
	.Tammsaare {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 200%;	
	}
	
	.Green {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 150%;
	}
	
	.Boi {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 150%;
		background-color: #263645;
		color: #D7D9D7;
	}
	
	table id?="t01"{
  width: 100%;    
  background-color: #088A85;
}