
	.Rowling {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 300%;
		color: #D7D9D7;
		background-color: #263645;
		border: 6px solid black;
		padding: 5px;
		margin: 12px;
	}
	
	.Tammsaare {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 200%;	
	}
	
	.Green {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 150%;
	}
	
	.Boi {
		font-family: 'Quattrocento', serif;
		text-align: center;
		font-size: 150%;
		background-color: #263645;
		color: #D7D9D7;
	}
	
	.paddingBetweenCols {
		padding:90px;
	}

		.flex-container {
		display: flex;
		flex-wrap: wrap;
		background-color: #D7D9D7;
	}

	.flex-container > div {
		background-color: #D7D9D7;
		width: 560px;
		margin: 15px;
		text-align: center;
		line-height: 75px;
		font-size: 30px;
	}

